@import '../../styles/variables';

.root {
  color: $white;
  font-weight: 500;
  width: 100%;
  padding: .9rem 0;
  border-radius: 5px;

  transition: .25s;
}

.denialButton {
  background-color: $red;
}

.confirmationButton {
  background-color: $green;
}

.root:hover {
  box-shadow: 0 0 60px rgba(0,0,0, .2);
}